{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": "current"
        },
        "modules": false
      }
    ],
    ["@babel/preset-typescript"],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@babel/plugin-transform-react-jsx",
    [
      "@babel/plugin-transform-template-literals",
      {
        "loose": true
      }
    ],
    "@babel/plugin-transform-react-constant-elements"
  ]
}
